<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget" value="https://api.nuget.org/v3/index.json" />
		<add key="nancyfx-myget" value="https://www.myget.org/F/nancyfx/api/v3/index.json" />
		<!--<add key="Stackexchange-redis-corefx" value="https://www.myget.org/F/stackexchange-redis-corefx/api/v3/index.json" />-->
		<!--<add key="npsql-corefx" value="https://www.myget.org/F/npgsql-unstable/api/v3/index.json" />-->
		<!--<add key="aspnetcidev" value="https://www.myget.org/F/aspnetcidev/api/v3/index.json" />-->
		<!--<add key="aspnetcirelease" value="https://www.myget.org/F/aspnetcirelease/api/v3/index.json" />-->
		<!--<add key="aspnetrc2" value="https://www.myget.org/F/aspnetrc2/api/v3/index.json" />-->
		<!--<add key="xunit" value="https://www.myget.org/F/xunit/api/v3/index.json" />-->
		<!--<add key="nancyfx" value="https://www.myget.org/F/nancyfx/api/v3/index.json" />-->
	</packageSources>
</configuration>
